<!DOCTYPE html>
<HTML>
	<HEAD>
		<title>Liquibase Script Generator</title>
		
		<script src="jquery-3.6.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		
		<script type="text/javascript" th:src="@{/js/formFunction.js}"></script>
		<script type="text/javascript" th:src="@{/js/generateScript.js}"></script>
		
		<!-- W3C CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		
		<!-- W3CSS Function -->
		<script type="text/javascript" th:src="@{/js/W3Function.js}"></script>
		
		<!-- Bootstrap: Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

		<!-- Bootstrap: Optional theme -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

		<!-- Bootstrap: Latest compiled and minified JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>		
	</HEAD>
	
	<BODY>
		<!-- LEFT SIDEBAR -->
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:200px; background-color: rgb(224, 224, 224);" id="menuSidebar">
  			
  			<!-- CLOSE BUTTON FOR RETIRE SIDEBAR -->
  			<button class="w3-bar-item w3-button w3-hide-large" onclick="w3_close()">Close &times;</button>
  			
  			<h2 class="w3-bar-item">Menu</h2>
  			
  			<!-- SCHEMA OPERATION OPTIONS -->
  			<a href="#" class="w3-bar-item w3-button" onclick="loadCreateSchemaForm()">DB Schema Creation</a>
  			
  			<!-- TABLE OPERATION OPTIONS -->
    		<button class="w3-button w3-block w3-left-align" onclick="dropSubMenu('operationsTablesDrop')">Operations on Tables <i class="fa fa-caret-down"></i></button>
    		<div id="operationsTablesDrop" class="w3-hide w3-white w3-card">
      			<a href="#" class="w3-bar-item w3-button" onclick="loadCreateTableForm()">CREATE TABLE</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadDropTableForm()">DROP TABLE</a>
    		</div>
  			
  			<!-- METADATA OPERATION OPTIONS -->
    		<button class="w3-button w3-block w3-left-align" onclick="dropSubMenu('operationsMetadataDrop')">Operations on Metadata <i class="fa fa-caret-down"></i></button>
    		<div id="operationsMetadataDrop" class="w3-hide w3-white w3-card">
      			<a href="#" class="w3-bar-item w3-button" onclick="loadAddColumnForm()">Add Column</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadDropColumnForm()">Delete Column</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="">Add Foreign Key Constraint</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="">Delete Foreign Key Constraint</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadAddNotNullConstraintForm()">Add NOT NULL Constraint</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadDropNotNullConstraintForm()">Delete NOT NULL Constraint</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadAddUniqueConstraintForm()">Add UNIQUE Constraint</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadDropUniqueConstraintForm()">Delete UNIQUE Constraint</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadAddDefaultValueForm()">Add Default Value</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadDropDefaultValueForm()">Delete Default Value</a>
    		</div>
  			
  			<!-- DATA OPERATION OPTIONS -->
    		<button class="w3-button w3-block w3-left-align" onclick="dropSubMenu('operationsDataDrop')">Operations on Data <i class="fa fa-caret-down"></i></button>
    		<div id="operationsDataDrop" class="w3-hide w3-white w3-card">
      			<a href="#" class="w3-bar-item w3-button" onclick="">INSERT</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="">UPDATE</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="">DELETE</a>
    		</div>
    		
    		<!-- CHANGE DATA TYPE -->
    		<button class="w3-button w3-block w3-left-align" onclick="dropSubMenu('operationsChangeDataType')">Change Data Type<i class="fa fa-caret-down"></i></button>
    		<div id="operationsChangeDataType" class="w3-hide w3-white w3-card">
      			<a href="#" class="w3-bar-item w3-button" onclick="loadRenameTableForm()">Rename Table</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadRenameColumnForm()">Rename Column</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadModifyColumnDataTypeForm()">Modify Column Data Type</a>
      			<a href="#" class="w3-bar-item w3-button" onclick="loadAddAutoIncrementForm()">Add Auto Increment Column</a>
    		</div>
		</div>
		<!-- END SIDEBAR -->

		<!-- HEADER -->
		<div class="w3-main" style="margin-left:200px;">
			<div style="background-color: #ff3d00;">
  				<button class="w3-button w3-xlarge" style="background-color: #ff3d00;" onclick="w3_open()">&#9776;</button>
  				<div class="w3-container" style="background-color: #ff3d00;">
    				<h2>Liquibase XML Script Generator</h2>
  				</div>
  			</div>
		</div>
		<!-- END HEADER -->
		
		<!-- BODY -->
		<div class="w3-main" style="margin-left:200px;" align="center">
			<div class="container-fluid " style="margin: 10px">
				<div class="row">
					<!-- FORM -->
					<div class="col-md-6" id="formContainer" align="left" style="margin-top: 20px;">
						<h1>Welcome<br><small>Select an option from sidebar to determine the type of script to generate</small></h1>		
					</div>
					<!-- END FORM -->
					
					<!-- SCRIPT TEXT BOX -->
					<div class="col-md-6">
						<code><textarea class="form-control" rows="35" style="resize:vertical; width: 100%; height: 100%;" readonly id="scriptTextArea">The Liquibase XML script will be generated in this box ...</textarea></code>
						<div>
							<button type="button" class="btn btn-default btn-lg" onclick="copyText()">
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								Copy
							</button>
						</div>
					</div>
					<!-- END SCRIPT TEXT BOX -->
				</div>
			</div>
		</div>
		<!-- END BODY -->
		
	</BODY>
</HTML>